[Unit]
Description = rpi file server
After = network.target
 
[Service]
Type = simple
ExecStart = /home/pi/.local/share/virtualenvs/share-Qcsmqb3G/bin/python /home/pi/share/serve.py
User = pi
Group = pi
Restart = on-failure # Restart when there are errors
SyslogIdentifier = /home/pi/share/service.log
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target # Make it accessible to other users